/* Inserta tu CSS aqui */
* {
	margin: 0;
	padding: 0;
	box-sizing:content-box;
}
body {
	margin:10px;
}
.caja {
	background-color:gray;
	height: 100px;
	width: 100px;
	border:1px solid black;
}
.container {
	margin: 10px 0px;
	border:1px solid black;
	width: 340px;
	text-align: center;
	background-color:gray;
}
.container .caja {
	display:inline-block;
	margin-right:5px;
	border:1px solid black;
}
.container .caja:last child {
	margin-right:0px;
}

.inline-block {
	display:inline-block;
	border:1px solid black;
}